:root {
    /* MARGINS */
    --desktopMargin: 150px;

    /* PADDINGS */
    --sectionPadding: 50px;

    /* BORDERS */
    --borderRadius: 7px;

    /* FONT-SIZES */
    --contentFontSize: 15px;
    --titleFontSize: 20px;

    /* COLORS */
    --borderColor: #E4E4E4;
    --hoverBorderColor: #a4b1e5;
    --secondaryBackgroundColor: #efefef;
    --secondaryTextColor: #757575;
    --primaryTextColor: #434343;
    --titleTextColor: #000000;
    --primaryColor: #2A3FCA;
}


@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}


/* SECTION LOCATION SMOOTH SCROLL SETUP*/
html {
  scroll-behavior: smooth;
}
/* respect user's reduced-motion preference */
@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}
/* if you have a sticky header, offset the anchored sections */
.section, section {
  /* set this to your header height (e.g., 80px) */
  scroll-margin-top: 60px;
}


body {
    font-family: Roboto-Regular, sans-serif;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
}


.link-text {
    font-family: Roboto-Regular, sans-serif;
    font-weight: normal;
    color: var(--primaryColor);
    font-size: 12px;
}


/* BASE.twig STYLESHEET */
.navbar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    border-bottom: 1px solid var(--borderColor);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
}
.navbar-layout {
    height: 100%;
    margin-right: var(--desktopMargin);
    margin-left: var(--desktopMargin);
    display: grid;
    grid-template-columns: 100fr max-content;
    align-content: center;
}
.navbar-buttons-layout {
    display: flex;
    gap: 30px;
    align-items: center;
}
.trademark {
    font-size: var(--contentFontSize);
    font-family: Roboto-Bold, sans-serif;
    font-weight: normal;
    color: var(--titleTextColor);
}
.navbar-button {
    font-family: Roboto-Regular, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: var(--contentFontSize);
    color: var(--secondaryTextColor);
}
.selected-navbar-button {
    font-family: Roboto-Bold, sans-serif;
    color: var(--titleTextColor);
}
/* USER LOGIN BUTTON */
.login-button {
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius);
    display: flex;
    align-content: center;
    color: white;
    font-size: var(--contentFontSize);
    font-weight: normal;
    font-family: Roboto-Regular, sans-serif;
    text-decoration: none;
    padding: 7px 13px 7px 13px;
}
.login-button img {
    filter: invert();
    margin-left: 5px;
    margin-right: -2px;
    width: 18px;
}

/* CONTENT_AREA */
.content-area-container {

}


/* SHOP_STYLESHEETS */
.products-container {
    display: grid;
    grid-template-columns: 100fr 100fr;
    gap: 60px;
}
.product-item-container {
    display: grid;
    padding: 40px;
    gap: 20px;
    text-decoration: none;
    border-radius: var(--borderRadius);
    background-color: white;
    border: 2px solid var(--borderColor);
    transition: 0.2s ease;
}
.product-item-container:hover {
    border: 2px solid var(--hoverBorderColor);
    transition: 0.2s ease;
}
.product-name {
    font-size: var(--titleFontSize);
    font-weight: normal;
    font-family: Roboto-Bold, sans-serif;
    color: var(--titleTextColor);
    margin: 0;
}
.product-description {
    font-family: Roboto-Regular, sans-serif;
    font-weight: normal;
    font-size: var(--contentFontSize);
    color: var(--secondaryTextColor);
    overflow: hidden;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 80px;
    margin: 10px 0 0 0;
}
.product-image-container {
    width: 200px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    border-radius: var(--borderRadius);
}
.product-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}
.product-tags-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: max-content;
    gap: 5px;
    margin-top: 10px;
}
.product-tag {
    font-size: 11px;
    border-radius: 3px;
    padding: 3px 7px 3px 7px;
    width: max-content;
    color: white;
    background-color: var(--titleTextColor);
}
.product-price {
    font-family: Roboto-Bold, sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}
.product-buy-button {
    display: flex;
    align-items: center;
    height: 35px;
    font-family: Roboto-Bold, sans-serif;
    border-radius: var(--borderRadius);
    padding: 0 20px 0 20px;
    border: none;
    background-color: var(--primaryColor);
    color: white;
    transition: 0.2s ease;
}
.product-buy-button:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s ease;
}
.product-buy-button:active {
    opacity: 0.8;
    transition: 0.2s ease;
}


/* LOGIN_SIGNUP_STYLES */
.signup-container {
    display: grid;
    height: 100%;
    justify-content: center;
    align-content: center;
    margin-left: var(--desktopMargin);
    margin-right: var(--desktopMargin);
}
.signup-form-title {
    font-size: var(--titleFontSize);
    font-weight: normal;
    font-family: Roboto-Bold, sans-serif;
    margin: 0 0 20px 0;
}
.signup-form-container {
    display: grid;
    gap: 10px;
}
.signup-form-label {
    color: var(--secondaryTextColor);
}
.signup-form-inputfield {
    margin-top: 5px;
    height: 40px;
    outline: none;
    font-family: Roboto-Regular, sans-serif;
    font-size: var(--contentFontSize);
    border: 2px solid var(--borderColor);
    border-radius: var(--borderRadius);
    padding: 0 20px 0 20px;
}
.signup-form-button {
    border: none;
    height: 40px;
    margin-top: 5px;
    border-radius: var(--borderRadius);
    background-color: var(--primaryColor);
    color: white;
    font-size: var(--contentFontSize);
}


/* FOOTER */
#footer {
    display: grid;
    grid-template-columns: 100fr max-content;
    align-items: center;
    height: 150px;
    margin: 0 var(--desktopMargin) 0 var(--desktopMargin);
}
.social-link-icon {
    width: 25px;
}
