@use 'variables' as *;

.form-error-notification {
    padding: 10px 20px;
    background-color: rgba(255, 36, 36, 0.09);
    border: 2px solid rgba(255, 48, 48, 0.25);
    color: rgb(255, 36, 36);
    font-weight: normal;
    font-family: Roboto-Regular, sans-serif;
    border-radius: $border-radius;
    font-size: $content-font-size;
    justify-content: center;
    align-content: center;
    display: none;
    pointer-events: none;
    margin: 2px 0 -3px 0;

    &.show {
        display: flex;
        pointer-events: auto;
    }
}
